/node_modules
/public/hot
/public/images
/public/fonts
/public/storage
/public/template/*
/public/flag-icon-css
/public/font-awesome
/public/simple-line-icons
/storage/*.key
/storage/app/companies/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
